:root {
  --primary400: #2c4bf0;
  --primary200: #6b83ff;
  --secondary: #ff56d0;
  --foreground: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: 'Pretendard';
  overflow-x: hidden;
  font-weight: 400;
}

body {
  color: var(--foreground);
  background: var(--primary400);
  padding-bottom: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

h1 {
  font-family: 'neurimbo Gothic';
  font-size: 160px;
  padding: 0;
  margin: 0;
  line-height: 79%;
  font-weight: 400;
}

h2 {
  font-family: 'neurimbo Gothic';
  font-size: 72px;
  padding: 0;
  margin: 0;
  line-height: 100%;
  font-weight: 400;
}

input {
  height: 38px;
  padding: 10px 16px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  width: 190px;
  font-size: 18px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

select {
  height: 38px;
  padding: 0px 16px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  width: 144px;
  font-size: 18px;
}

button {
  background: transparent;
  border: none;
}
