.Title {
  position: relative;
  margin-top: 100px;
  z-index: 2;
}

.SubTitle {
  position: relative;
  font-family: 'neurimbo Gothic';
  margin-top: 72px;
  line-height: 100%;
  font-size: 32px;
}

.BG_Container {
  top: 100px;
  position: absolute;
}

.BG_Title {
  position: absolute;
  font-size: 280px;
  font-family: 'neurimbo Gothic';
  line-height: 80%;
  opacity: 15%;
  mix-blend-mode: overlay;
  z-index: 0;
  font-weight: 400;
}

.SubTitle_Sub {
  font-size: 18px;
}

.Title_Secondary {
  color: var(--secondary);
}
